;; Analyzed by ClojureScript 1.7.170
{:use-macros {go cljs.core.async.macros}, :excludes #{}, :name om-chat.core, :imports nil, :requires {goog.dom goog.dom, p om-chat.parser, om-chat.components.root om-chat.components.root, om-chat.parser om-chat.parser, api om-chat.web-api, cljs.core.async cljs.core.async, om-chat.web-api om-chat.web-api, gdom goog.dom, om om.next, root om-chat.components.root, om.next om.next}, :uses {<! cljs.core.async, chan cljs.core.async}, :defs {reconciler {:name om-chat.core/reconciler, :file "src/om_chat/core.cljs", :line 12, :column 1, :end-line 15, :end-column 20, :meta {:file "/Users/colinf/Projects/om-chat/src/om_chat/core.cljs", :line 15, :column 10, :end-line 15, :end-column 20}}}, :require-macros {cljs.core.async.macros cljs.core.async.macros, om om.next, om.next om.next}, :cljs.analyzer/constants {:seen #{:read :else thread/select :thread/id :recur :state :threads :parser :mutate}, :order [:state :parser :read :mutate thread/select :thread/id :threads :recur :else]}, :doc nil}