;; Analyzed by ClojureScript 1.7.170
{:use-macros {go cljs.core.async.macros}, :excludes #{}, :name om-chat.web-api, :imports nil, :requires {cljs.core.async cljs.core.async, state om-chat.app-state, om-chat.app-state om-chat.app-state}, :uses {<! cljs.core.async, chan cljs.core.async, >! cljs.core.async}, :defs {get-initial-data {:protocol-inline nil, :meta {:file "/Users/colinf/Projects/om-chat/src/om_chat/web_api.cljs", :line 6, :column 7, :end-line 6, :end-column 23, :arglists (quote ([channel]))}, :name om-chat.web-api/get-initial-data, :variadic false, :file "src/om_chat/web_api.cljs", :end-column 23, :method-params ([channel]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 6, :end-line 6, :max-fixed-arity 1, :fn-var true, :arglists (quote ([channel]))}}, :require-macros {cljs.core.async.macros cljs.core.async.macros}, :cljs.analyzer/constants {:seen #{:else :recur}, :order [:recur :else]}, :doc nil}